<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="'Dictionary: ' + ${word}">"</title>
<!--    <link th:insert="fragments/header :: bootstrap" />-->
<!--    <link th:rel="stylesheet"  th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css}" />-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!--    todo не читает th:insert-->
</head>
<body class="bg-light text-dark">
<div th:insert="fragments/fragment :: header"></div>
<div class="container">
    <div class="col mb-4">
        <div th:insert="fragments/fragment :: searchBar"></div>
        <div class="col mb-4">
            <th:block th:each="word: ${wordFromDb}" style="max-width: 18rem;">
                <div class="card mb-3">
                    <div class="card-body text-dark">
                        <div class="card-title"><a th:href="@{'/word/' + ${word.title}}"><h1 style="font-size: larger" th:text="${word.title}"></h1></a></div>
                        <div class="card-text" th:text="${word.definition}"></div>
                        <br>
                        <div class="card-text" style="font-style: italic" th:text="${word.example}"></div>
                        <br>
                        <div class="card-text">
                            <span style="font-weight: bold">by </span><a class="card-link" th:href="@{'/user/' + ${word.user}}"><span style="font-weight: bold" th:text="${word.user}"></span></a>
                            <span style="font-weight: bold" th:text="${#temporals.format(word.localDate, 'MMMM dd, yyyy', new java.util.Locale('en', 'USA'))}"></span>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
</div>
<div th:insert="fragments/fragment :: js"></div>
</body>
</html>