<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
        <link th:insert="fragments/fragment :: bootstrap" />
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">-->
</head>
<body class="bg-light text-dark">
<div th:insert="fragments/fragment :: header"></div>
<br>
<div class="container">
    <div class="row">
        <form th:action="@{/change-password}" method="post" class="form-group col-md-6">
            <input type="hidden" name="token" th:value="${resetToken}" >
            <input type="hidden" name="refreshUrl" th:value="${refreshUrl}" >
            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="sr-only">Confirm Password</label>
                <input type="password" id="confirmPassword" class="form-control" name="confirmPassword" placeholder="Confirm password">
            </div>
            <button type="submit" class="btn btn-info my-2 my-sm-0">Change!</button>
        </form>
    </div>
</div>
<div th:insert="fragments/fragment :: js"></div>
</body>
</html>