<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
    <a th:href="@{/}">Dictionary</a>
    <a sec:authorize="isAnonymous()" th:href="@{/registration}">Registration</a>
    <a sec:authorize="isAnonymous()" th:href="@{/login}">Login</a>
    <a sec:authorize="isAuthenticated()" th:href="@{'/user/' + ${#authentication.principal}}"><span th:text="${#authentication.principal}"></span></a>
    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
</div>
</body>
</html>