<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
<h3>New Word</h3>
<div>
    <form th:action="@{/add}" method="post" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Word"/>
        <textarea type="text" name="definition" placeholder="Type your definition here"></textarea>
        <textarea type="text" name="example" placeholder="Type an example of how it's used in a sentence"></textarea>
        <button type="submit">Submit!</button>
    </form>
</div>

<a th:href="@{/}">Go Home</a>
</body>
</html>