<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Dictionary</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container">
    <div class="row">

        <form th:action="@{/}" method="get">
            <input id="searchWord" type="text" name="title" placeholder="Type any word">
            <button type="submit">Find</button>
        </form>
        <br>
        <a th:href="@{/add}">Define a Word</a>
        <br><br>
        <th:block th:each="word: ${words}">
            <div>
                <a th:href="@{'/word/' + ${word.title}}"><span th:text="${word.title}"></span></a>
            </div>
            <p></p>
                            <div th:text="${word.definition}"></div>
                            <div style="font-style: italic" th:text="${word.example}"></div>
                            <div>
                                <span>by </span><a th:href="@{'/user/' + ${word.user}}"><span th:text="${word.user}"></span></a>
                                <span th:text="${#temporals.format(word.localDate, 'MMMM dd, yyyy')}"></span>
                            </div>
            <br><br>
                        </th:block>
    </div>
</div>
</body>
</html>