<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="container">
    <div class="row">
        <label for="each">Posts</label>
        <table id="each">
            <tr th:each="word: ${userWords}">
                <td th:text="${word.title}"></td>
                <td th:text="${word.definition}"></td>
                <td style="font-style: italic" th:text="${word.example}"></td>
                <td>
                    <a th:href="@{'/user/' + ${word.user}}"><span th:text="'by ' + ${word.user}"></span></a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>